<li class="flex justify-between gap-x-6 py-5">
  <div class="flex min-w-0 gap-x-4">
    <% avatar = user.admin ? "admin.png" : "joker.png" %>
    <%= image_tag avatar, class: "h-12 w-12 flex-none rounded-full bg-gray-50" %>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900"><%= user.username %></time></p>
      <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= user.email %></time></p>
    </div>
  </div>
  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
    <p class="text-sm leading-6 text-gray-900"><%= user.admin ? "Admin" : "Regular" %></time></p>
    <p class="mt-1 text-xs leading-5 text-gray-500">Created at <time datetime="2023-03-17T00:00Z"><%= user.created_at %></time></p>
  </div>
</li>
